

    <div class="heading">
        <h1>About Us</h1>
    </div>

    <div class="container-fluid">
        <section class="about about-section">
            <div class="about-image images">
                <img src="https://scontent-den2-1.xx.fbcdn.net/v/t39.30808-6/428712267_812250664273667_8365567994553607284_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=byRYANAsnZoAX-N17lv&_nc_ht=scontent-den2-1.xx&oh=00_AfBb4YHautjm_qOR0eMl_1FGejHtQMNwiaViXD2SBCDKxA&oe=6602BA7E" alt="">
            </div>
            <div class="about-content1 ab">
                <h2>Who are we</h2>
                <p>
                    We are a nonprofit dog rescue operating out of the Camp Bow Wow in Colorado Springs,
                    Colorado. Since we are a nonprofit, we survive on our donations and adoption fees and the goodwill of 
                    all our supporters. Prior to housing dogs in the rescue, we have worked with other local rescues to help 
                    rehome dogs. In 2015, we were able to create our own rescue and since then have adopted out over 1000 
                    dogs! These dogs were all considered not adoptable because they didn’t pass their initial evaluations at 
                    the shelter or they were on a euthanasia list because the shelter was too full.
                </p>
                
              
            </div>
        </section>
        <section class="about2 about-section">
            <div class="about-image images">
                <img src="https://scontent-den2-1.xx.fbcdn.net/v/t39.30808-6/413834450_765354755629925_2831285061553927407_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=sO9cbAjKSk0AX8od22R&_nc_ht=scontent-den2-1.xx&oh=00_AfDHzuD1h_qfJvrCft7FrA1qBaUUfdgZ_Idp2wy1LSTFXA&oe=660486C7" alt="">
            </div>
            <div class="about-content2 ab">
                <h2>What we do</h2>
                <p>
                    We bring in dogs that need a chance to recover from the traumatic experience of being left by their
                    family and put into the shelter system. These dogs would normally fall through the cracks and be
                    euthanized just because there is no room in the shelters or because they are too afraid to pass their
                    evaluations upon entry. We provide an alternative by rehabilitating, retraining and providing a safe
                    and comfortable environment for our dogs so that they can reach their full potential as your loving
                    companion.
                </p>
                
                
              
            </div>
        </section>
        <section class="about3 about-section">
            <div class="about-image images">
                <img src="https://scontent-den2-1.xx.fbcdn.net/v/t39.30808-6/245196454_2941100099537593_662932373245560765_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Zg2Y9Qp77XkAX-w5ny8&_nc_ht=scontent-den2-1.xx&oh=00_AfBpsOWpTdhFvpUhoAWRGfXGVS4zjiajhESec8ZVvMIKPA&oe=6604A097" alt="">
            </div>
            <div class="about-content ab">
                <h2>How we do it</h2>
                <p>
                    Most of our dogs are socialized in small groups and we work with basic training.
                    We give them love and affection to rebuild their trust in people and give them a safe,
                    comfortable environment so that they have a chance to turn back into the loving, 
                    faithful family members that we all want. With the help of our staff and volunteers we walk,
                    socialize and train all our dogs to give them the best chance at success in their new home..
                </p>
                
               
            </div>
        </section>
</div>
