*{
  box-sizing: border-box;
}

footer {
    
 
    font-family: 'libre franklin';
    background-color: #093f52;
    color: #ffffff;
    margin: 0;
  }

  

  .footer .container  .row {

    display: flex;
    flex:wrap;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    
}
/* 
  .footer .map, .footer .details, .footer .hours, .footer .links {
  
    /* padding: 10px; Optional: adds some spacing around each item 
  } */

  
  .phone-number {
    padding-top: 110px;
   
  }
  

  
   .details  {
    display: flex;
    flex: wrap;
    width: fit-content;
  }



  .footer .hours .links{
    color: #C1CFD4;
  }



  .address{
    font-size: 20px;
    padding-bottom: 20px;
  }

  .phone-number, .Email {
    font-size: 12px; /* Replace with the desired font size */
}

  

  .hours{
    display: flex;
    font-size: 12px;
    padding-right: px;
    /* flex: 1 1 auto; Flex grow, shrink, and basis set to auto */
    width: fit-content;
    line-height: 2;
    color: #C1CFD4;
  }

  .hours ul{
    list-style-type: none;
    display: flex;
  
    flex-direction: column;
  
  }

  .links .table1:first-child {
  margin-right: 10px; /* Adjust the value to increase or decrease the space */
}

  .links {
    display: flex;
    width: fit-content;
    font-size: 12px;
    padding-top: 4px;
  }

  .links ul {
    list-style-type: none;
 
   
    flex-direction: column;
  }

  .links li {
    margin-bottom: 10px;
  }

  .links a {
    color: #C1CFD4;
    text-decoration: none;
  }

  
  