<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

<footer class="footer">
        
    <div class="container">
        <div class="row">
            
            
            <!-- <div class="footer-col">
                
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.326001338383!2d-104.83101448808115!3d38.893659771607005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87134fc5d3bb45d7%3A0x8cbe9d28c1744f98!2sNo%20Hound%20Unhomed!5e0!3m2!1sen!2sus!4v1708394764318!5m2!1sen!2sus" width="330" height="231" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div> -->
            <div class="footer-col">
                
                <h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.326001338383!2d-104.83101448808115!3d38.893659771607005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87134fc5d3bb45d7%3A0x8cbe9d28c1744f98!2sNo%20Hound%20Unhomed!5e0!3m2!1sen!2sus!4v1708394764318!5m2!1sen!2sus" width="330" height="231" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </h4>
            </div>
            <div class="footer-col">
                <h4>4295 Northpark Dr,<br>
                    Colorado Springs,<br>
                    CO 80907</h4>
                <ul>
                    <li>(719) 660-6198</li>
                    <li>NoHoundUnhomed&#64;gmail.com</li>
                    
                </ul>
            </div>
            <div class="footer-col ">
                
                <div class="hours">
                <ul class="tableH">
                    <ul class="days">
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                        <li>Sunday</li>
                    </ul><ul class="time">
                        <li>9:00 AM – 5:00 PM</li>
                        <li>9:00 AM – 5:00 PM</li>
                        <li>9:00 AM – 5:00 PM</li>
                        <li>9:00 AM – 5:00 PM</li>
                        <li>9:00 AM – 5:00 PM</li>
                        <li>9:00 AM – 5:00 PM</li>
                        <li>Closed</li>
                        
                    </ul>
                </ul>
                </div>
            </div>
            <div class="footer-col ">
                
                <div class="hours">
                <ul class="tableH">
                    <ul>
                        
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        
                    </ul><ul>
                        <div class="social-links">
                            <a href="https://www.facebook.com/NoHoundUnhomed/" target="_blank"> <i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/nohoundunhomed/" target="_blank"> <i class="fab fa-instagram"></i></a>
                         </div>
                        
                    </ul>
                </ul>
                </div>
            </div>
            <div class="footer-col">
                
             
                
                
            </div>
        </div>
    </div>
</footer>