client/animal-shelter-website/src/assets/Fonts/Libre_Baskerville/OFL.txt
client/animal-shelter-website/src/assets/Fonts/Libre_Franklin/OFL.txt
client/animal-shelter-website/src/assets/Fonts/Libre_Franklin/README.txt
