.pageHeader{
    overflow: hidden;
    text-align: center;
}


.filteringButtonGroup {
    overflow:hidden;
    flex-direction: row;
    display: flex;
    align-items: center;

}

.dropdown{
    border-radius: .35rem;
    border: .125rem solid #3E83Af;
    margin-right: 3rem;
    padding: 0.5rem 4rem;
    background-color: white;
    cursor: pointer;
    margin-top: 1rem;
    width: 12rem;
    height: max-content;
    align-items: center;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-size: 1rem;
}

.dropdown button{
    max-width: 15rem;
    max-height: max-content;
    
}
.dropdown :hover{
    background-color: #FAB41B;
}



.filteringButtonGroup a{
    color: black;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    align-items: center;
}

.filteringButtonGroup :hover{
    text-decoration: underline;
}

.filter-content{
    overflow: hidden;
    position: fixed;
}


