<div>
    <h1 class="pageHeader"> Available Pets </h1>
</div>

<!-- FILTERING BUTTONS -->
<div class="filteringButtonGroup" > 
    <div >
        <button (click)="toggleFilter('sexIsOpen')" class="dropdown"> Sex  </button>
        <div class="filter-content" *ngIf="sexIsOpen">
            <button class="dropdown">
                <div >
                    <a href="female">Female</a>
                </div>
                <hr>
                <div>
                    <a href="male">Male</a>
                </div>
                <hr>
                <div>
                    <a href="anysex"> Any Sex</a>
                </div>
            </button>
        </div>
    </div>
    
   <div >
        <button (click)="toggleFilter('ageIsOpen')" class="dropdown"> Age </button>
            <div class="filter-content" *ngIf="ageIsOpen" >
                <button class="dropdown">
                    <div > 
                        <a href="under5"> 0-5 </a>
                    </div>
                    <hr>
                    <div > 
                        <a href="over5"> 5+ </a>
                    </div>
                    <hr>
                    <div > 
                        <a href="anyage"> Any Age </a>
                    </div>
                </button>
            </div>
   </div>
    
    <div>
        <button (click)="toggleFilter('breedIsOpen')" class="dropdown"> Breed </button>
        <div class="filter-content" *ngIf="breedIsOpen">
            <button class="dropdown">
                <div>  
                    <a href="pitbull"> Pitbull</a>
                </div>
                <hr>
                <div>  
                    <a href="german"> German Shephard</a>
                </div>
                <hr>
                <div>  
                    <a href="chihuahua"> Chihuahua</a>
                </div>
            </button>
        </div>
    
    </div>


    <div>
        <button (click)="toggleFilter('sizeIsOpen')" class="dropdown"> Size </button>
            <div class="filter-content" *ngIf="sizeIsOpen">
                <button class="dropdown">
                    <div>  
                        <a href="small"> Small</a>
                    </div>
                    <hr>
                    <div> 
                        <a href="medium"> Medium </a>
                    </div>
                    <hr>
                    <div> 
                        <a href="larger"> Large</a>
                    </div>
                </button>
            </div>
    </div>    
    
    <div>   
        <button (click)="toggleFilter('lengthOfStayIsOpen')" class="dropdown"> Length of Stay  </button>
        <div class="filter-content" *ngIf="lengthOfStayIsOpen">
            <button class="dropdown">
                <div> 
                    <a href="underSix"> 0-6 Months </a>
                </div>
                <hr>
                <div>  
                    <a href="underTwelve"> 6-12 Months  </a>
                </div>
                <hr>
                <div> 
                    <a href="overTelve"> 1+ Years  </a>
                </div>
            </button>
        </div>
    </div>
    
    
    <div>
        <button (click)="toggleFilter('sortByIsopen')" class="dropdown"> Sort By </button>
        <div class="filter-content" *ngIf="sortByIsopen">
            <button class="dropdown"> 
                <div> 
                    <a href="age"> Age (ascending) </a>
                </div>
                <hr>
                <div> 
                    <a href="size"> Size (ascending) </a>
                </div>
                <hr>
                <div>
                    <a href="length"> Length of Stay (ascending) </a>
                </div>
            </button>
            
        </div>
    </div>
    
    
</div>

<div>

</div>




