<main>
    <section class="centered-image">
        <img src="assets/images/banner.jpg" alt="Banner showcasing our dog rescue operations">
    </section>


    <section id="container">
        <div>
            <h1 class="bold-franklin">About Us</h1>
            <p>
                We are a nonprofit dog rescue operating out of the Camp Bow Wow in Colorado Springs, Colorado. Since we are a nonprofit, we survive on our donations and adoption fees and the goodwill of all our supporters. Prior to housing dogs in the rescue, we have worked with other local rescues to help rehome dogs. In 2015, we were able to create our own rescue and since then have adopted out over 1000 dogs! These dogs were all considered not adoptable because they didn’t pass their initial evaluations at the shelter or they were on a euthanasia list because the shelter was too full.
            </p>
            <a routerLink="/about" class="learnMoreButton">Learn More</a>
        </div>
        <div class="video-container">
            <iframe class="youtube-video" src="https://www.youtube.com/embed/FsYDlbfojAc?autoplay=1&controls=0&showinfo=0&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </section>
</main>


<footer>
    <h3 class="sponsorFooter">Our Sponsors</h3>
    <div>
        <a routerLink="/sponsors" class="footerLogos">
            <img src="assets/images/village_vet_icon.png" alt="Village Vet">
            <img src="assets/images/camp_bowwow_icon.png" alt="Camp Bow Wow">
            <img src="assets/images/aspen_auto_logo.png" alt="Aspen Auto">
        </a>    
    </div>
</footer>