<!-- TITLE OF PAGE -->
<div>
    <h1 class="pageHeader"> Available Pets </h1>
</div>

<!-- FILTERING BUTTONS -->
<div class="filteringButtonGroup" > 
    <div>
        <button (click)="toggleFilter('sexIsOpen')" class="dropdown"> Sex  </button>
        <div class="filter-content" *ngIf="sexIsOpen">
            <button class="dropdown">
                <div (click)="genderFilter('female')">
                    <a>Female</a>
                </div>
                <hr>
                <div>
                    <a>Male</a>
                </div>
                <hr>
                <div (click)="genderFilter('Any Sex')">
                    <a> Any Sex</a>
                </div>
            </button>
        </div>
    </div>
    
   <div >
        <button (click)="toggleFilter('ageIsOpen')" class="dropdown"> Age </button>
            <div class="filter-content" *ngIf="ageIsOpen" >
                <button class="dropdown">
                    <div > 
                        <a href="under5"> 0-5 </a>
                    </div>
                    <hr>
                    <div > 
                        <a href="over5"> 5+ </a>
                    </div>
                    <hr>
                    <div > 
                        <a href="anyage"> Any Age </a>
                    </div>
                </button>
            </div>
   </div>
    
    <div>
        <button (click)="toggleFilter('breedIsOpen')" class="dropdown"> Breed </button>
        <div class="filter-content" *ngIf="breedIsOpen">
            <button class="dropdown">
                <div>  
                    <a href="pitbull"> Pitbull</a>
                </div>
                <hr>
                <div>  
                    <a href="german"> German Shephard</a>
                </div>
                <hr>
                <div>  
                    <a href="chihuahua"> Chihuahua</a>
                </div>
            </button>
        </div>
    
    </div>


    <div>
        <button (click)="toggleFilter('sizeIsOpen')" class="dropdown"> Size </button>
            <div class="filter-content" *ngIf="sizeIsOpen">
                <button class="dropdown">
                    <div>  
                        <a href="small"> Small</a>
                    </div>
                    <hr>
                    <div> 
                        <a href="medium"> Medium </a>
                    </div>
                    <hr>
                    <div> 
                        <a href="larger"> Large</a>
                    </div>
                </button>
            </div>
    </div>    
    
    <div>   
        <button (click)="toggleFilter('lengthOfStayIsOpen')" class="dropdown"> 
            Length of Stay 
        </button>
        <div class="filter-content" *ngIf="lengthOfStayIsOpen">
            <button class="dropdown">
                <div> 
                    <a href="underSix"> 0-6 Months </a>
                </div>
                <hr>
                <div>  
                    <a href="underTwelve"> 6-12 Months  </a>
                </div>
                <hr>
                <div> 
                    <a href="overTelve"> 1+ Years  </a>
                </div>
            </button>
        </div>
    </div>
    
    
    <div>
        <button (click)="toggleFilter('sortByIsopen')" class="dropdown"> Sort By </button>
        <div class="filter-content" *ngIf="sortByIsopen">
            <button class="dropdown"> 
                <div> 
                    <a href="age"> Age (ascending) </a>
                </div>
                <hr>
                <div> 
                    <a href="size"> Size (ascending) </a>
                </div>
                <hr>
                <div>
                    <a href="length"> Length of Stay (ascending) </a>
                </div>
            </button>
            
        </div>
    </div>
    
</div>

<!-- DISPLAY ANIMALS -->
<div class="imageGroup" *ngIf="anySex">
    <div class="individualPet" *ngFor="let dog of dogs"> 
        <div class="description">
            <img [src]="imageArray[dog.dogId-1]" class="image" (click)="openPopUp(dog)">
            <div class="nameTag">
                {{ dog.name }} <span class="whitePaw"> &nbsp;🐾</span>
            </div>
            <a class="filterDescription"> 
                {{ dog.gender}}  <br>
                {{ dog.weight}} lbs    <br>
                {{ dog.breed}}   <br>
                {{ dog.age}} year(s)    <br>
            </a>
        </div>
    </div>
</div>
    
<!-- DISPLAY FEMALES  -->
<div class="imageGroup" *ngIf="female">
    <div class="individualPet" *ngFor="let dog of dogs"> 
        <div class="description">
            <img [src]="imageArray[dog.dogId-1]" class="image" (click)="openPopUp(dog)">
            <div class="nameTag">
                {{ dog.name }} <span class="whitePaw"> &nbsp;🐾</span>
            </div>
            <a class="filterDescription"> 
                {{ dog.gender}}  <br>
                {{ dog.weight}} lbs    <br>
                {{ dog.breed}}   <br>
                {{ dog.age}} year(s)    <br>
            </a>
        </div>
    </div>
</div>
    

<!-- POP UP BOX -->
    <div class="popup-container" *ngIf="popUpisOpen">
        <div class="popup-box-top">
            <img [src]="imageArray[index]" class="popup-image">
            <a>
                <span> Hi, I'm  {{name}} </span>
                <br>
                <br>
                Gender: {{gender}} <br>
                Color: {{color}} <br>
                Breed: {{breed}} <br>
                Estimated Age: {{age}} year(s) <br>
                Weight: {{weight}} lbs <br>
                DOB: {{DOB | date: 'yyyy-MM-dd'}} <br>
                <br>
                Adoption Fee: ${{fee}} <br>
                
            </a>

            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Paw_%28Animal_Rights_symbol%29.png" class="closeButton"(click)="closePopUp()">
            <div class="closeX" (click)="closePopUp()"> X </div>
        </div>

        <div class="popup-box-bottom">
            <button> Adopt me</button>
            <button> Support me</button>
            <p>
                A little about me: 
                <br>
                <br>
                {{description}}
            </p>
        </div>
    
    </div>




