<!-- app.component.html -->

<!-- In your app.component.html or a navigation component -->
<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/adoptable-pets">Adoptable Pets</a></li>
    <li><a routerLink="/surrendering-pet">Surrendering Your Pet</a></li>
    <li><a routerLink="/other-rescues">Other Rescues</a></li>
    <li><a routerLink="/resources">Resources</a></li>

    <!-- Add more navigation links here as needed -->
  </ul>
</nav>
<router-outlet></router-outlet> <!-- Where the component templates will be rendered -->


