<!-- app.component.html -->
<app-nav-bar></app-nav-bar>

<!-- In your app.component.html or a navigation component -->
<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/adoptable-pets">Adoptable Pets</a></li>
    <li><a routerLink="/surrendering-pet">Surrendering Your Pet</a></li>
    <li><a routerLink="/other-rescues">Other Rescues</a></li>
    <li><a routerLink="/resources">Resources</a></li>
    <li><a routerLink="/available-pets">available-pets</a></li>
    <li><a routerLink="/recent-adoptions">recent-adoptions</a></li>
    <li><a routerLink="/sponsors">sponsors</a></li>


    <!-- Add more navigation links here as needed -->
  </ul>
</nav>
<router-outlet></router-outlet> <!-- Where the component templates will be rendered -->


<app-adoptable-pets></app-adoptable-pets>

<app-footer></app-footer>
```