/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Libre_Franklin';
    src: url('assets/fonts/Libre_Franklin/static/LibreFranklin-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre_Baskerville';
    src: url('assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf') format('truetype');
    font-weight: normal; /* or 400 */
    font-style: normal;
}


@font-face {
    font-family: 'Libre Franklin';
    src: url('assets/fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf') format('truetype');
    font-weight: bold; /* or 700 */
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal; /* or 400 */
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold; /* or 700 */
    font-style: normal;
}

/* specific texts for body text and paragraphs, popup text, buttons, page titles, name tags*/

.body { 
    font-family: 'Libre Baskerville', serif;
    font-weight: normal; 
    font-size: .9rem;
}

.popup-text { 
    font-family: 'Libre Baskerville', serif;
    font-weight: normal; 
    font-size: .9rem;
}

.buttons-text { /*change to franklin*/
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold; 
    font-size: 1.2rem;
}

.page-title-text { /*change to franklin*/
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold; 
    font-size: 2rem;
}

.name-tag-text { /*change to franklin*/
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold; 
    font-size: 1.5rem;
}

/*fonts without text size*/
.bold-baskerville {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold; 
}

.regular-baskerville { 
    font-family: 'Libre Baskerville', serif;
    font-weight: normal; 
}

.regular-franklin { 
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal; 
}

.bold-franklin {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold; 
}

/*begin palette*/

.primary-color {
    color: #093F52; /* dark blue */
}
.accent-color {
    color: #FAB41B; /* Mustard */
}

.secondary-blue-color {
    color: #51a6ad; /* light blue */
}

.teal-color {
    color: #00868B; /* blue */
}
