/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Libre_Franklin';
    src: url('assets/fonts/Libre_Franklin/static/LibreFranklin-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre_Baskerville';
    src: url('assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}