/* Add a black background color to the top navigation */
.topNav {
    background-color: #093F52;
    color: white;
    text-align: right;
    padding: 10px;
    overflow: hidden;
    padding: 20px 20px;
}
.mainNav {
  overflow: hidden;
  background-color:#093F52;
  font-family: "Libre_Franklin";
}

.mainNav a {
  float: left;
  color: white;
  text-align: center;
  padding: 30px 38px;
  text-decoration: none;
  font-size: 18px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-header {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 30px 38px;
  cursor: pointer;
  font-size: 18px;
}

.mainNav a:hover, .dropdown:hover .dropdown-header {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #093F52;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: "Libre_Baskerville";
  font-size: 14px;

}

.dropdown-content a:hover {
  background-color: #093F52;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  .whiteNav{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
  }

  .donateButton{
    background-color: #FAB41B;
    color: white;
    float: right;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: white;
    margin-top: 28.5px;
    margin-bottom: 28.5px;
    margin-right: 28.5px;

  }

  .scrollbar{
    color: grey;
    height:120px;
    overflow:scroll;
    overflow-x:hidden;
  }



