.pageHeader{
    overflow: hidden;
    text-align: center;
}


.filteringButtonGroup {
    overflow:hidden;
    padding: 1rem 1rem;

}

.filteringButtonGroup button{
    overflow: hidden;
    border-radius: .35rem;
    border: .125rem solid #3E83Af;
    margin-right: 3rem;
    padding: 0.5rem 4rem;
    background-color: white;
    cursor: pointer;
    align-content: center;
    align-items: center;

}
.filteringButtonGroup a{
    text-align: center;
    color: black;
}

.filteringButtonGroup :hover{
    text-decoration: underline;
}

.filter-content{
    overflow: hidden;
    position: absolute;
    min-width: 1rem;
}

.filter-content button{
    overflow: hidden;
    margin-top: 1rem;
    position: fixed;
    
}

