<div>
    <h1 class="pageHeader"> Available Pets </h1>
</div>

<!-- FILTERING BUTTONS -->
<div class="filteringButtonGroup"> 
    <button (click)="toggleFilter('sexIsOpen')"> Sex  </button>
        <div class="filter-content" *ngIf="sexIsOpen">
            <button >
                <div >
                    <a href="female">Female</a>
                </div>
                <hr>
                <div>
                    <a href="male">Male</a>
                </div>
                <hr>
                <div>
                    <a href="anysex"> Any Sex</a>
                </div>
            </button>
        </div>
   
    <button  (click)="toggleFilter('ageIsOpen')"> Age </button>
        <div class="filter-content" *ngIf="ageIsOpen">
            <button >
                <div > 
                    <a href="under5"> 0-5 </a>
                </div>
                <hr>
                <div > 
                    <a href="over5"> 5+ </a>
                </div>
                <hr>
                <div > 
                    <a href="anyage"> Any Age </a>
                </div>
            </button>
            
        </div>
    
    <button (click)="toggleFilter('breedIsOpen')"> Breed </button>
        <div class="filter-content" *ngIf="breedIsOpen">
            <div> Pitbull </div>
            <div> German Shephard </div>
            <div> Chihuahua </div>
        </div>
    
    <button (click)="toggleFilter('sizeIsOpen')"> Size </button>
        <div class="filter-content" *ngIf="sizeIsOpen">
            <div> Pitbull </div>
            <div> German Shephard </div>
            <div> Chihuahua </div>
        </div>
    
    
    <button (click)="toggleFilter('lengthOfStayIsOpen')"> Length of Stay  </button>
        <div class="filter-content" *ngIf="lengthOfStayIsOpen">
            <div> 0-6 Months </div>
            <div>  6-12 Months </div>
            <div> 1+ Years </div>
        </div>
   
    <button (click)="toggleFilter('sortByIsopen')"> Sort By </button>
        <div class="filter-content" *ngIf="sortByIsopen">
            <div> Age (ascending) </div>
            <div> Size (ascending)</div>
            <div> Length of Stay (ascending) </div>
        </div>
    
</div>






