
<div class="sponsor-section">
  <h2 class="sponsor-title primary-color bold-franklin">Our Sponsors</h2>
  <p class = "sponsor-thank-you baskerville">
    We are deeply grateful to our sponsors whose support is the cornerstone of our efforts. It is with their generous contributions that we can make a significant difference in the lives of animals. Each sponsor plays a crucial role in enabling us to provide shelter, care, and love to our furry friends awaiting their forever homes. Thank you for being a part of our mission to create a better world for pets and the people who love them.
  </p>
</div>

<div class = "sponsor-grid">
  <div *ngFor = "let sponsor of sponsors" class = "sponsor-item">
    <img [src] = "sponsor.logo" [alt] = "sponsor.name" (click) = "onSelect(sponsor)">
  </div>
</div>
